#diy1 .diy-model-view {
	background: url("http://www.inklego.com/picture/cate/design/apron_design.png");
}

#diy1 .diy-view,
#diy1 .diy-modify {
	top: 165px;
	left: 138px;
	width: 230px;
	height: 256px;
}